*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/SlidingMenu/build
/SlidingMenu/*.iml
/xCLCharts/build
/xCLCharts/*.iml
/SlidingMenu/build
